.psPlus::after {
    --dimensions: 30px;
    --mobile-dimensions: 16px;
    content: '';
    width: var(--mobile-dimensions);
    height: var(--mobile-dimensions);
    background-size: var(--mobile-dimensions);
    background-image: url('/ps-plus.png');
    position: absolute;
    right: -4px;
    bottom: 0px;
    z-index: 1;

    @media (min-width: 640px) {
        width: var(--dimensions);
        height: var(--dimensions);
        background-size: var(--dimensions);
        right: -8px;
    }
}

.trophyCounter {
    &:not(:first-child) {
        @apply ml-3;
    }
}